/* 서브페이지 sub1~8 공통 */

.sub1 {
    margin: auto;
}
.sub1 .inner {
}
.sub1 .con1 {
    width: 1920px;
    height: 750px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    background-image: url(../images/content/sub1/about_bg.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sub1 .con1 h3 {
    font-size: 55px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    margin-bottom: 40px;
    margin-top: 500px;
    opacity: 0;
    transition: 1.5s;
}
.sub1 .con1 h3.on {
    margin-top: 0px;
    opacity: 1;
}
.sub1 .con1 .explain {
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    color: #fff;
    opacity: 0;
    transition: 1.9s;
}
.sub1 .con1 .explain.on {
    opacity: 1;
}

/* 콘2 */

.sub1 .con2 {
    width: 1920px;
    height: auto;
    text-align: center;
}
.sub1 .con2 .wrap {
    width: 1560px;
    margin: 0 auto;
    opacity: 0;
    transform: translateY(300px);
    transition: 1.5s;
}
.sub1 .con2 .wrap.on {
    transform: translateY(0px);
    opacity: 1;
}
.sub1 .con2 .since {
    margin-top: 130px;
    color: #797b7e;
}
.sub1 .con2 h4 {
    font-size: 34px;
    font-weight: 500;
    margin-bottom: 70px;
}
.sub1 .con2 h4 em {
    font-size: 20px;
    color: #797b7e;
    vertical-align: super;
}
.sub1 .con2 .slogan {
    width: 1560px;
    height: 560px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    background-image: url(../images/content/sub1/about_bg02.png);
    display: flex;
    justify-content: center;
    align-items: center;
}
.sub1 .con2 .slogan li {
    width: 280px;
    height: 250px;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}
.sub1 .con2 .slogan li:last-child {
    border: none;
}
.sub1 .con2 .slogan li .china {
    font-size: 130px;
    font-weight: 300;
    color: #fff;
}
.sub1 .con2 .slogan li span {
    width: 75px;
    height: 35px;
    background: #326aff;
    border-radius: 17px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    display: block;
    margin: 20px auto;
    line-height: 35px;
    text-align: center;
}
.sub1 .con2 .slogan li .explain {
    font-size: 20px;
    color: #fff;
}

/* 콘3 */
.sub1 .con3 {
    width: 1920px;
    height: 790px;
    position: relative;
}
.sub1 .con3 .wrap {
    width: 1560px;
    margin: 0 auto;
    opacity: 0;
    transform: translateY(700px);
    transition: 1.5s;
}
.sub1 .con3 .wrap.on {
    transform: translateY(450px);
    opacity: 1;
}
.sub1 .con3 h4 {
    font-size: 30px;
    font-weight: 500;
    position: absolute;
    left: 50%;
    bottom: 30%;
    /* transform: translateX(-50%); */
    z-index: 5;
}
.sub1 .con3 img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}
.sub1 .con3 .bg {
    font-size: 195px;
    font-weight: 400;
    color: #808080;
    opacity: 0.2;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
/* 콘4 */
.sub1 .con4 {
    text-align: center;
    width: 1920px;
    height: 750px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    background-image: url(../images/content/sub1/about_bg03.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sub1 .con4 em {
    font-size: 12px;
    color: #808080;
    margin: 10px 0;
}
.sub1 .con4 h3 {
    color: #fff;
    font-size: 34px;
    margin-bottom: 30px;
    margin-top: 500px;
    opacity: 0;
    transition: 1.5s;
}
.sub1 .con4 .explain {
    color: #fff;
    font-size: 18px;
    opacity: 0;
    transition: 1.9s;
}

.sub1 .con4 h3.on {
    margin-top: 0px;
    opacity: 1;
}

.sub1 .con4 .explain.on {
    opacity: 1;
}
