/* 공통비주얼 수정 */

#subvisual.banner4 {
}
#subvisual.banner4 .inner {
    width: 1920px;
    height: 790px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    background-image: url(../images/content/sub4/best_bg.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}
#subvisual .subtitle span::before {
    content: '';
    width: 130px;
    height: 1px;
    background: rgba(255, 255, 255, 0.5);
    display: inline-block;
    margin: 0 15px 5px 15px;
}

/* 서브페이지4 */

.sub4 {
    width: 1920px;
}
.sub4 #content {
}
.sub4 .inner {
    width: 1920px;
}
.sub4 .con1 {
    display: flex;
    justify-content: space-between;
}
.sub4 .bg {
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    width: 870px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.sub4 .con1 .bg.num1 {
    background-image: url(../images/content/sub4/con1-bg.png);
    position: sticky;
    top: 0;
}
.sub4 .bg .subtitle {
}
.sub4 .bg .subtitle img {
    vertical-align: middle;
}
.sub4 .bg .subtitle span {
    font-weight: lighter;
}
.sub4 .bg .subtitle span::before {
    content: '';
    width: 120px;
    height: 1px;
    background: rgba(255, 255, 255, 0.5);
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
}
.sub4 .bg h2 {
    margin: 50px auto;
    font-size: 50px;
    font-weight: bold;
}
.sub4 .bg .greeting {
    font-size: 22px;
    text-align: center;
}
.sub4 .itemlist {
}
.sub4 .itemlist ul {
    margin: 50px 0;
    width: 1030px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.sub4 .itemlist ul li {
    width: 380px;
    margin: 0 10px;
    margin-top: 50px;
}
.sub4 .itemlist ul li img {
    width: 380px;
    border-radius: 30px;
}
.sub4 .itemlist ul li .name {
    font-size: 18px;
    font-weight: 500;
    margin: 20px 0;
}
.sub4 .itemlist ul li .tag {
    font-size: 14px;
    color: #949494;
    display: inline;
    line-height: 40px;
    padding: 10px 15px;
    border: 1px solid #949494;
    border-radius: 20px;
}
.sub4 .con2 {
    display: flex;
    justify-content: space-between;
}
.sub4 .con2 .bg.num2 {
    background-image: url(../images/content/sub4/con2-bg.png);
    position: sticky;
    top: 0;
}
