/* 서브페이지 sub1~8 공통 */

#subvisual {
    width: 100%;
    margin: auto;
    /* border: 1px solid #000; */
    position: relative;
}

#subvisual .subtitle {
    font-size: 14px;
    margin-top: 100px;
    margin-left: 60px;
}

#subvisual .subtitle img {
}
#subvisual .subtitle span {
}
#subvisual .subtitle span::before {
    content: '';
    width: 130px;
    height: 1px;
    background: #000;
    display: inline-block;
    margin: 0 15px 5px 15px;
}

#subvisual h2 {
    font-size: 40px;
    font-weight: 700;
    text-align-last: left;
    margin: 20px 0;
    margin-left: 60px;
}

#subvisual .greeting {
    font-size: 16px;
    margin-left: 60px;
    margin-bottom: 50px;
}

#subvisual .bg {
    font-weight: 500;
    font-size: 170px;
    position: absolute;
    right: -200px;
    bottom: -80px;
    line-height: 170px;
    opacity: 0.2;
}
